	
body{
	background: #00ccff;
	
}
.container{
	background: white;
	margin-bottom:20px;
	margin-top:20px;
}
.card{
	width:250px;
	height:150px;
}


.card-link{
	color:white;
}
.card-link:hover{
	color:white;
}

.ovl{
	opacity: 0;
	transition: 0.25s;
}
.ovl:hover {
	opacity: 1;
	background: rgb(0,0,0,0.5);
}
	
.comment-form{
	background: none repeat scroll 0 0 #f5f5f5;
	border-radius: 4px;
	float: left;
	width: 100%;
}
.comment-form form {
	float: left;
	width: 100%;
}
.comment-form form textarea {
	background: none repeat scroll 0 0 #fff;
	border: medium none;
	border-radius: 4px 4px 0 0;
	float: left;
	font-size: 14px;
	height: 142px;
	padding: 20px;
	width: 100%;
	resize:vertical;
	outline:none;
	border: 1px solid #F2F2F2;
}

.panel-white {
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 15px;
}

.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}

#logo{
	width:250px;
	height:150px;
}